<div class="container-main">
    <div class="section-principal grid m-0 ">
            <div class="left flex md:col-5 lg:col-5 xl:col-5 flex-column align-items-start">
                <div class="section-principal-text">
                    <p class="title text-5xl flex-1 xl:text-6xl font-medium">REAL&nbsp;<span class="inline md:hidden lg:hidden xl:hidden"><br /></span><span class="auto-type"></span></p>
                    <p class="subtitle text-xl lg:text-2xl xl:text-2xl">{{'home_main.subtitle' | translate}}</p>
                    <button pButton pRipple routerLink="/reviews" type="button" label="{{'home_main.go_to_reviews' | translate}}" class="text-xl font-medium"></button>
                </div>
            </div>
            <div class="right md:col-7 lg:col-7 xl:col-7 m-auto">
                <div class="container-cards">
                    <img src="/assets/heroes/cards.png" alt="">
                </div>
            </div>
    </div>


    <!-- <div class="section-why">
        <div class="text">
            <p class="text-1">The photos of clothing brands do not represent the diversity of morphology of all people.</p>
            <p class="text-2">Leave your review and help others ;)</p>
        </div>

    </div> -->
   
    <!-- <div class="section-how-it-works">
        <div class="title">
            <p class="text-4xl">HOW IT WORKS --</p>
        </div>

        <div class="container-create grid">
            <div class="left col-5">

            </div>
            <div class="right col-7">
                <p>Create</p>
                <p>01</p>
                
            </div>
        </div>
    </div> -->
    



    
    
</div>