:host ::ng-deep{
    .container-main{
        width: 100%;
        align-items: center;
        .section-principal{
            display: flex;
            align-items: center;
            justify-content: center;
        .left {
            .section-principal-text{
                max-width: 470px;
                // margin-top: 100px;
                margin-left: 24px;
                p{
                    margin: 0px 0px 15px 0px;
                    animation: fade-in-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) backwards;
                }
                span.auto-type{
                    color: #9747ff;
                }
                button{
                    animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) backwards;
                }
            }
        }

        .right{
            // margin-top: 30px;
            .container-cards{
                animation: fade-in-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s backwards;
                // margin-top: 34px;
                margin-left: 30px;
                padding: 30px 20px;
                min-width: 400px;
                max-width: 650px;
                img{
                    width: 100%;
                }
            }

        }
        }

        .section-why{
            margin-top: 30px;
            display: flex;
            text-align: center;
            justify-content: center;
            .text{
                width: 80%;

                .text-1{
                    animation: fade-in-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s backwards;
                    font-weight: 400;
                    font-size: 23px;
                    text-shadow: 0px 0px 2px rgba(229, 229, 229, 0.549);
                }
                .text-2{
                    animation: fade-in-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s backwards;
                    font-weight: 500;
                    font-size: 25px;
                    color: #9747ff;
                    text-shadow: 0px 0px 2px rgba(229, 229, 229, 0.549);
                }
            }

        }
    }

    .subtitle{
        max-width: 350px;
    }

    .left.flex-1.md\:col-6.lg\:col-6.xl\:col-6.flex.flex-column.align-items-start {
        padding: 0;
    }

    .section-how-it-works{
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        top: -35px;

        .title{
            p{
                font-weight: 400;
            }
        }

        .container-create {
            .left{
                background-color: #9747ff;
            }
        }
    }



    @media only screen and (max-width: 767px) {
    .container-main{

        .section-principal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        .left {
            .section-principal-text{
                max-width: 320px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 75px;
                align-items: center;

                .title{
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .right{
            .container-cards{
                min-width: 300px;
                max-width: 500px;
            }
        }
        }
    }
  }
}


  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  