<div class="container-main min-w-screen">
    <div class="section-principal grid flex flex-row m-0 ">
            <div class="left col-6 flex flex-column  align-items-start">
                <div class="section-principal-text">
                    <p class="text-5xl font-medium">REAL  <span class="auto-type"></span></p>
                    <p class="text-xl">{{'home_main.subtitle' | translate}}</p>
                    <button pButton pRipple routerLink="#" type="button" label="{{'home_main.start_now' | translate}}" class="font-medium"></button>
                </div>
            </div>
            <div class="right col-6"></div>
    </div>
    
</div>