:host ::ng-deep {
    .button-add-review{
        color: #8628ff;
        border: none;
    }

    // .cards-reviews-grid {
    //     column-count: 3;
    //     column-gap: 0;
    //     padding: 10px;
    // }

    .column-clothes-type{
        margin-top: 5rem;
        ul{
            list-style: none;

            li{
                margin-bottom: 8px;
            }
        }
        
    }


    .p-breadcrumb{
        font-weight: 500;
        padding: 0rem !important;
    }

    p.title{
        font-size: 1.4rem;
        color: #1d1f22;
        font-weight: 500;

        .title-span{
            color: #8628ff;
        }
    }

    .p-dialog .p-dialog-header {
        padding: 0.2rem 1rem;
    }

    .p-dialog .p-dialog-content {
        padding: 0.2rem 1rem;
    }
   
}


@media (min-width: 992px){
    
}

@media only screen and (max-width: 992px){
    .container-left{
        display: none;
    }
}