<div class="container-sign-up w-full max-h-full">
    <div class="grid w-screen h-screen ">

        <div class="left hidden lg:col-4 xl:col-4 lg:flex xl:flex flex-column text-white align-items-center">
            <div class="sign-up-text flex-1 flex flex-column justify-content-center">
                <p class="text-2xl font-light">{{'sign_up.title' | translate}}</p>
                <p class="text-3xl">{{'sign_up.subtitle' | translate}}!</p>
            </div>
            <div class="image-heroe">
                <img src="assets/heroes/photo-1530011940847-04cba36df39f.jpeg" alt="">
            </div>
        </div>

        <div class="right flex-1">
            <div class="logo"> <img src="/assets/logo/logo-real-black.png" height="40" width="85" class="p-mr-2" alt="brand logo"> </div>

            <div class="container-form flex justify-content-center flex-column align-items-center">
                <form class="form-sign-up" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                    <h3 class="text-2xl font-medium">{{'sign_up.sign_up' | translate}}</h3>

                    <p>{{'sign_up.first_name' | translate}}</p>
                    <input formControlName="firstName"  type="text" pInputText required >

                    <p>{{'sign_up.last_name' | translate}}</p>
                    <input formControlName="lastName" type="text" pInputText required > 

                    <p>Email</p>
                    <input formControlName="email" type="email" pInputText required >

                    <p>{{'sign_up.password' | translate}}</p>
                    <p-password formControlName="password" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [toggleMask]="true"></p-password>

                    <div class="container-button">
                        <p-button [disabled]="!registerForm.valid" type="submit" label="{{'sign_up.create_account' | translate}}"></p-button>
                    </div>

                    <div class="container-login flex justify-content-end">
                        <a routerLink="/login" class="font-normal text-primary no-underline">{{'sign_up.have_account' | translate}}? <span class="underline">{{'sign_up.log_in' | translate}}</span></a>
                    </div>
                    
                </form>

            </div>
        </div>
        
    </div>
</div>



