span {
    letter-spacing: 0.3px;
}

.container-footer{
    margin: 0.9rem 2.9rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-made {
    display: flex;
    flex: 7;
    justify-content: flex-end;
}
.container-languages{
    display: flex;
   flex: 5;
   justify-content: flex-end;
}