<p-menubar>
    <ng-template pTemplate="start">
        <img routerLink="" src="/assets/logo/logo-real-black.png" height="40" width="85" class="p-mr-2" alt="brand logo">  
 
      </ng-template>
      <ng-template pTemplate="end" class="flex">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="value" />
        </span>  
        <app-header-connected *ngIf="user; else publicTemplate"></app-header-connected>
        <ng-template #publicTemplate>
        <app-header-public></app-header-public>
    </ng-template>
    </ng-template>
</p-menubar>



