<div class="container-sign-up w-full max-h-full">
    <div class="grid w-screen h-screen ">

        <div class="left hidden lg:col-4 xl:col-4 lg:flex xl:flex flex-column text-white align-items-center">
            <div class="sign-up-text flex-1 flex flex-column justify-content-center">
                <p class="text-2xl font-light">{{'forgot_password.title' | translate}}</p>
                <p class="text-3xl"> {{'forgot_password.subtitle' | translate}} !</p>
            </div>
            <div class="image-heroe">
                <img src="assets/heroes/photo-1530011940847-04cba36df39f.jpeg" alt="">
            </div>
        </div>

        <div class="right flex-1">
            <div class="logo"> <img src="/assets/logo/logo-real-black.png" height="40" width="85" class="p-mr-2" alt="brand logo"> </div>

            <div class="container-form flex justify-content-center flex-column align-items-center ">
                <div *ngIf="isSuccess" class="container-success-message flex align-items-center">
                    <i class="pi pi-check"></i>
                    <p class=" font-normal"><span class="font-medium">{{'forgot_password_success.success' | translate}} : </span>{{'forgot_password_success.success_message' | translate}}</p>
                </div>
                <div class="form-sign-up">
                    <h3 class="text-2xl font-medium">{{'forgot_password.forgot_password' | translate}}?</h3>
                    <p class="text-base font-normal"> {{'forgot_password.forgot_subtitle' | translate}} </p>

                    <p>Email</p>
                    <input type="text" pInputText >

                    <div class="container-button">
                        <p-button  label="{{'forgot_password.reset' | translate}}"></p-button>
                    </div>

                    <div class="container-login flex justify-content-end">
                        <a href="#" routerLink="/login" class="font-normal text-primary no-underline">{{'forgot_password.go_back' | translate}} <span class="underline">{{'forgot_password.sign_in' | translate}}</span></a>
                    </div>
                    
                </div>

            </div>
            
        </div>
        
       
    </div>
</div>



