<div class="card">
    <div class="card-header">
        <p>{{review.product.name}}</p>
    </div>

    <div class="card-image">
        <img src="/assets/heroes/person.jpeg" alt="">
    </div>

    <div class="content p-2">
    <div class="container-user-information">
        <div class="user-information flex align-items-center p-1">
            <div class="container-avatar mr-2">
                <p-avatar styleClass="p-mr-2" size="large" shape="circle" image="/assets/heroes/allgo-an-app-for-plus-size-people-gSPPwuoiGtU-unsplash.jpeg"></p-avatar>
            </div>
            <div class="container-information">
                <div class="flex align-items-center">
                    <p class="text-sm m-0">{{review.user.firstName}}</p>
                    <p class="text-xs m-1 text-600 m-0">({{review.user.totalReview}} reviews)</p>
                </div>
               <div>
                    <p class="info-user text-xs text-600 m-0"> Size : {{review.size}} | {{review.weight}}kg | {{review.height}}cm </p>
               </div>
            </div>
        </div>
    </div>


    <div class="container-review">
        <div class="container-comment-review">
            <p class="text-sm">{{review.comment}}</p>
        </div>
        <div class="container-raitings-user">
            <div class="grid m-0">
                <div class="col-6 p-0">
                    <p class="rating-type">Globally</p>
                    <p-rating [ngModel]="review.ratingGlobally" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                </div>
                <div class="col-6 p-0">
                    <p class="rating-type">Real to size</p>
                    <p-rating [ngModel]="review.ratingRealToSize" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                </div>
                <div class="col-6 p-0">
                    <p class="rating-type">Confort</p>
                    <p-rating [ngModel]="review.ratingConfort" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                </div>
                <div class="col-6 p-0">
                    <p class="rating-type">Quality</p>
                    <p-rating [ngModel]="review.ratingQuality" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>